body {
    /*background-image:url('/assets/img/backgroundImg.png');*/
    /*background-repeat:no-repeat;*/
    /*background-position:center;*/
    background: url('/assets/img/backgroundImg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-larger {
    color:#FFFFFF !important;
    background-color:#CC5555 !important;
    background-image: -moz-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CC5555), to(#AA3333)) !important;
    background-image: -webkit-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: -o-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: linear-gradient(to bottom, #CC5555, #AA3333) !important;
}

.btn-large {
    color:#FFFFFF !important;
    background-color:#CC5555 !important;
    background-image: -moz-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CC5555), to(#AA3333)) !important;
    background-image: -webkit-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: -o-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: linear-gradient(to bottom, #CC5555, #AA3333) !important;
}

.btn-small {
    color:#FFFFFF !important;
    background-color:#CC5555 !important;
    background-image: -moz-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CC5555), to(#AA3333)) !important;
    background-image: -webkit-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: -o-linear-gradient(top, #CC5555, #AA3333) !important;
    background-image: linear-gradient(to bottom, #CC5555, #AA3333) !important;
}

#viewDetail {
    background-image:url('/assets/img/AA-back-trans.jpg');
    background-repeat:no-repeat;
    background-position:center;
}

footer {
    color:#000000;
    background-color:#EEEEEE
}