body {
    padding-bottom:0px !important;
}

.brand {
	font-size:24px !important;
	margin-right:15px;
}

.filter {
	max-width:275px;
	display:inline-block;
	white-space:normal;
}

.filter .header {
	color:#999999;
	margin-left:10px;
}

.filter label {
	display:inline-block;
	width:75px !important;
	text-align:right !important;
	margin-right:5px;
}

.filter .input {
	width:auto;
	max-width:175px;
	display:inline-block;
}

.filter input {
	width:auto;
	min-width:60px;
	text-align:left !important;
}

.filter select {
    width:165px;
}

.date-range input {
	width:72px !important;
}

.container2{
	display:inline-block !important;
	float:center !important;
}

.btn-larger {
  padding: 11px 15px;
  font-size: 30px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.feedback {
	margin:10px;
	padding:5px;
	cursor:pointer;
	/*background-color: #DDDDDD;*/
    background-image: linear-gradient(rgba(225,225,225,.75), rgba(200,200,225,1));
    border:1px #CCCCCC solid;
    box-shadow:
        1px 1px 0 0 #014D06,
        2px 2px 0 0 #014D06,
        3px 3px 0 0 #014D06,
        4px 4px 0 0 #014D06,
        5px 5px 5px 0 #000000;

	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.feedback label {
	width:95px;
	text-align:right;
	font-weight:bold;
	display:inline-block;
	margin-right:5px;
	margin-bottom:0px;
}

.feedback-container {
    margin-bottom:10px;
    opacity:0.95;
	overflow-y:scroll;
	background-color: #EEEEEE;
	height:700px;
	-webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.feedback-detail {
    margin:10px;
    padding:5px;
}

.feedback-detail img {
    margin-left:5px;
    margin-right:15px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.feedback-detail label {
    width:130px;
    text-align:right;
    font-weight:bold;
    display:inline-block;
    margin-right:5px;
    margin-bottom:0px;
}

.feedback-detail .filler {
    margin-right:5px;
}

.feedback-detail .subheader {
    font-weight:bold;
}

.feedback-detail .body {
    padding:5px;
    background-color: #DDDDDD;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.feedback-detail-picturebox {
    display:inline-block;
    margin-top:10px;
    vertical-align:top;
}

.feedback-detail-profile {
}

a:-webkit-any-link{
    color:#000000;
    text-decoration:none !important;
}

.chart {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border:1px #CCCCCC solid;
    box-shadow:
        1px 1px 0 0 #014D06,
        2px 2px 0 0 #014D06,
        3px 3px 0 0 #014D06,
        4px 4px 0 0 #014D06,
        5px 5px 5px 0 #000000;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.chart-container {
    display:inline-block;
    padding:20px;
    opacity:0.95;
    background-color: #EEEEEE;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.hide {
    display:none;
}

h2 {
    display:inline-block;
}

.inline-block {
    display:inline-block;
}

.content-container {
    min-height:95%;
    position:relative;
}

footer {
    opacity:0.6;
}

footer p {
    margin-left:30px;
    display:inline-block;
}

footer img {
    display:inline-block;
    height:25px;
    width:25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.span3 {
    width:260px !important;
}